---
interface Props {
  a: string;
  b: string;
  c: string;
  d: string;
}
const { a, b, c, d } = Astro.props;
---

<p transition:animate="slide"
  style="position: fixed; top:0; height: 50px; background-color: skyblue; width: 100%; margin: 0; padding: 0"
>
  Page {a}
</p>

<script>
/* a short script in the body */
window.localStorage.setItem('astro', 'astro');
</script>

<p style="height: 30px"></p>

<p id="first">Long Page with links <a href="#middle">half way down</a></p>
<p style="height: 15vh"></p>
<div style="width:300vw; text-align:center; background-color:lightgreen">
  <a id="right-top" href="#top">top</a> | <a id="right-bottom" href="#bottom">bottom</a> | <a id="right" href="#right">right</a>
</div>

<p><a href="javascript:history.back()">Go Back</a></p>
<p id="middle">
  <a href={`/page${b}`}>Page {b}</a><br />
  <a href={`/redirect-page${b}`}>Redirect Page {b}</a><br />
  <a href={`/page${b}#top`}>Page {b} #top</a><br />
  <a href={`/page${b}#first`}>Page {b} #first</a><br />
  <a href={`/page${b}#middle`}>Page {b} #middle</a><br />
  <a href={`/page${b}#bottom`}>Page {b} #bottom</a><br />
  <a href={`/page${b}#right`}>right {b}</a><br />
  <a href={`/page${b}#undef`}>undef {b}</a><br />
</p>
<a transition:name="title" id="title" href={`/detail`}>Detail {b}</a><img src="/fish.png" transition:name="fish" style="height: 1rem"/><br/>
<a id="title" href={`/pageNotFound`}>404 {b}</a>
<p>
  <a href={`/page${a}`}>Page {a}</a><br />
  <a href={`/redirect-page${a}`} data-astro-reload>Redirect Page {a}</a><br />
  <a href={`/page${a}#top`}>Page {a} #top</a><br />
  <a href={`/page${a}#first`}>Page {a} #first</a><br />
  <a href={`/page${a}#middle`}>Page {a} #middle</a><br />
  <a href={`/page${a}#bottom`}>Page {a} #bottom</a><br />
  <a href={`/page${a}#right`}>Page {a} #right</a><br />
  <a href={`/page${a}#undef`}>Page {a} #undef</a><br />
  <a href={`/page${a}?h=5`}>Page {a}?h=5</a><br />
  <a href={`/page${a}?h=6`}>Page {a}?h=6</a><br />
  <a href={`/page${a}?h=6#middle`}>Page {a}?h=6#middle</a>
</p>
<p>
  <a href={`/page${c}`}>Page {c}</a><br />
  <a href={`/page${d}`}>Page {d}</a>
</p>
<p style="height: 90vh"></p>
<p id="bottom"><a href="">go to top</a></p>
