---
interface Props {
  a: string;
  b: string;
  c: string;
  d: string;
}
const { a, b, c, d } = Astro.props;
---
<body>
  <p
    style="position: fixed; top:0; height: 50px; background-color: skyblue; width: 100%; margin: 0; padding: 0"
  >
    Page {a}
  </p>
  <p style="height: 30px"></p>

  <p id="first">Long Page with links in <a href="#middle">the middle</a></p>
  <p style="height: 60vh"></p>
  <p>
    <a id="middle" href={`/page${b}`}>Page {b}</a><br />
    <a id="middle" href={`/page${b}#top`}>Page {b} #top</a><br />
    <a id="middle" href={`/page${b}#first`}>Page {b} #first</a><br />
    <a id="middle" href={`/page${b}#middle`}>Page {b} #middle</a><br />
    <a id="middle" href={`/page${b}#bottom`}>Page {b} #bottom</a>
  </p>
  <p>
    <a id="middle" href={`/page${a}`}>Page {a}</a><br />
    <a id="middle" href={`/page${a}#top`}>Page {a} #top</a><br />
    <a id="middle" href={`/page${a}#first`}>Page {a} #first</a><br />
    <a id="middle" href={`/page${a}#middle`}>Page {a} #middle</a><br />
    <a id="middle" href={`/page${a}#bottom`}>Page {a} #bottom</a>
  </p>
  <p>
    <a href={`/page${c}`}>Page {c}</a><br />
    <a href={`/page${d}`}>Page {d}</a>
  </p>
  <p style="height: 90vh"></p>
  <p id="bottom"><a href>goto top</a></p>
</body>
